<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>EmployeeTimeTracker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskServlet</display-name>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/TaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTaskServlet</display-name>
    <servlet-name>EditTaskServlet</servlet-name>
    <servlet-class>EditTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTaskServlet</servlet-name>
    <url-pattern>/EditTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTaskServlet</display-name>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <servlet-class>DeleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <url-pattern>/DeleteTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DailyChartServlet</display-name>
    <servlet-name>DailyChartServlet</servlet-name>
    <servlet-class>DailyChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailyChartServlet</servlet-name>
    <url-pattern>/DailyChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeeklyChartServlet</display-name>
    <servlet-name>WeeklyChartServlet</servlet-name>
    <servlet-class>WeeklyChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeeklyChartServlet</servlet-name>
    <url-pattern>/WeeklyChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MonthlyChartServlet</display-name>
    <servlet-name>MonthlyChartServlet</servlet-name>
    <servlet-class>MonthlyChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonthlyChartServlet</servlet-name>
    <url-pattern>/MonthlyChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPageServlet</display-name>
    <servlet-name>AdminPageServlet</servlet-name>
    <servlet-class>AdminPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPageServlet</servlet-name>
    <url-pattern>/AdminPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssociaterPageServlet</display-name>
    <servlet-name>AssociaterPageServlet</servlet-name>
    <servlet-class>AssociaterPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssociaterPageServlet</servlet-name>
    <url-pattern>/AssociaterPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMyChartsServlet</display-name>
    <servlet-name>ViewMyChartsServlet</servlet-name>
    <servlet-class>ViewMyChartsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMyChartsServlet</servlet-name>
    <url-pattern>/ViewMyChartsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTasksServlet</display-name>
    <servlet-name>ViewTasksServlet</servlet-name>
    <servlet-class>ViewTasksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTasksServlet</servlet-name>
    <url-pattern>/ViewTasksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllDailyChartServlet</display-name>
    <servlet-name>AllDailyChartServlet</servlet-name>
    <servlet-class>AllDailyChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllDailyChartServlet</servlet-name>
    <url-pattern>/AllDailyChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllWeeklyChartServlet</display-name>
    <servlet-name>AllWeeklyChartServlet</servlet-name>
    <servlet-class>AllWeeklyChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllWeeklyChartServlet</servlet-name>
    <url-pattern>/AllWeeklyChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllMonthlyChartServlet</display-name>
    <servlet-name>AllMonthlyChartServlet</servlet-name>
    <servlet-class>AllMonthlyChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllMonthlyChartServlet</servlet-name>
    <url-pattern>/AllMonthlyChartServlet</url-pattern>
  </servlet-mapping>
</web-app>